<div id="footer">
	<div class="clearfix">
		<div class="section">
			<h4>“开启你的世界名校之旅 ”</h4>
			<p>英萃顶尖 科达久远
			</p>
		</div>
		<div class="section contact">
			<h4>联系我们</h4>
			<p>
				<span>地址:</span> 中国广东省深圳市福田区泰然七路1号博今国际A座1903
			</p>
			<p>
				<span>联系电话:</span> +86-1990769 5745
			</p>
			<p>
				<span>邮箱:</span> info@saterh.cn
			</p>
		</div>
		<div class="section">
			<h4>SEND US A MESSAGE</h4>
			<p>
				If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
			</p>
			<a href="http://www.freewebsitetemplates.com/misc/contact/" class="subscribe">Click to send us an email</a>
		</div>
	</div>
	<div id="footnote">
		<div class="clearfix">
			<div class="connect">
				<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook"></a><a href="http://freewebsitetemplates.com/go/twitter/" class="twitter"></a><a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus"></a><a href="http://pinterest.com/fwtemplates/" class="pinterest"></a>
			</div>
			<p>
				© Copyright 2019-2025 Sater Holding. All Rights Reserved.
			</p>
		</div>
	</div>
</div>