<div id="footer">
  <div class="clearfix">
    <div class="section">
      <h4 data-i18n="footer.quote">“开启你的世界名校之旅 ”</h4>
      <p data-i18n="footer.tagline">英萃顶尖 科达久远</p>
    </div>
    <div class="section contact">
      <h4 data-i18n="footer.contact_us">联系我们</h4>
      <p><span data-i18n="footer.address_label">地址:</span> <span data-i18n="footer.address">中国广东省深圳市福田区泰然七路1号博今国际A座1903</span></p>
      <p><span data-i18n="footer.phone_label">联系电话:</span> <span data-i18n="footer.phone">+86-19907695745</span></p>
      <p><span data-i18n="footer.email_label">邮箱:</span> <span data-i18n="footer.email">info@saterh.cn</span></p>
    </div>
    <div class="section">
      <h4 data-i18n="footer.message_title">给我们发送消息</h4>
      <p data-i18n="footer.message_description">
        如果您对我们的服务有任何疑问或需要帮助，请随时通过以下链接与我们取得联系。
      </p>
      <a
        href="mailto:info@saterh.cn"
        class="subscribe"
        data-i18n="footer.send_email"
        >点击发送邮件给我们</a
      >
    </div>
  </div>
  <div id="footnote">
    <div class="clearfix">
      <div class="connect">
        <!-- <a
          href="http://freewebsitetemplates.com/go/facebook/"
          class="facebook"
        ></a
        ><a
          href="http://freewebsitetemplates.com/go/twitter/"
          class="twitter"
        ></a
        ><a
          href="http://freewebsitetemplates.com/go/googleplus/"
          class="googleplus"
        ></a
        ><a href="http://pinterest.com/fwtemplates/" class="pinterest"></a> -->
      </div>
      <p data-i18n="footer.copyright">© 2025 深圳英科达教育科技有限公司 版权所有
    </p>
    </div>
  </div>
</div>