<div id="header">
  <div class="clearfix">
    <div class="logo">
      <a href="../index.html"
        ><img
          src="../assets/images/logo.png"
          alt="LOGO"
          height="52"
          width="362"
      /></a>
    </div>
    <ul class="navigation">
      <li>
        <a href="../index.html" data-i18n="header.home">主页</a>
      </li>
      <li>
        <a href="../pages/about.html" data-i18n="header.about">关于英科达</a>
      </li>
      <li>
        <a href="../pages/study-abroad-hongkong-macau.html" data-i18n="header.study_abroad">港澳留學</a>
      </li>
      <li>
        <a href="../pages/immigration.html" data-i18n="header.immigration">移民</a>
      </li>
      <li>
        <a href="../pages/hongkong-university-rankings.html" data-i18n="header.rankings">香港高校排名概览</a>
      </li>
      <li>
        <a href="../pages/contact.html" data-i18n="header.contact">联系我们</a>
      </li>
      <li class="language-switcher">
        <a href="#" class="lang-selector active" data-lang="zh-CN" onclick="switchLanguage('zh-CN'); return false;">中</a>
        <a href="#" class="lang-selector" data-lang="zh-TW" onclick="switchLanguage('zh-TW'); return false;">繁</a>
        <a href="#" class="lang-selector" data-lang="en" onclick="switchLanguage('en'); return false;">En</a>
      </li>
    </ul>
  </div>
</div>